<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXLx5oKmXcWZHqeexPi77JeX_izkBYpnE</string>
	<key>GCM_SENDER_ID</key>
	<string>181133610636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatec.unlockway</string>
	<key>PROJECT_ID</key>
	<string>unlockway-9085f</string>
	<key>STORAGE_BUCKET</key>
	<string>unlockway-9085f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181133610636:ios:6d68961463b94f90dcb5a9</string>
</dict>
</plist>